	/*Generales*/
	html {
    	background-image:url(../imgs/fondo-investigación-13.png);
		font-family: sans-serif;
    }
    body {
    	display: block;
    	background-color: white;
    	width: 60em;
    	margin-right: auto;
    	margin-left: auto;
    	margin-top: 3em;
    }
    .tabla {
		display: table;
		margin: auto;
		border-collapse: collapse;
		table-layout: fixed;
	}
	.fila {
		display: table-row;
		padding: 5px;
		width: 100%;
	}
	.celda {
		display: table-cell;
		padding: 5px;
		border-spacing: 0;
		height: auto;
	}
	.orden {
    	font-size: 20px;
    	text-align: justify;
    	width: 90%;
    	margin: 0 auto;
    }
    h1 {width: 105%; margin: 30px auto; text-align: center; padding: 20px 0; background: #EEEEEE;}
	h1 {position: relative; margin: 0 -25px; font-size: 40px; background: #0088AA; color: #FFFFFF; text-shadow: 1px 1px 0px #1A5D6E; box-shadow: 0 0 10px #AAA;}
	h1:after,
	h1:before {content: ""; display: block; position: absolute; bottom: -25px; width: 0; height: 0; border-style: solid; border-color: #1A5D6E transparent;}
	h1:before {border-width: 25px 0 0 25px; left: 0;}
	h1:after  {border-width: 25px 25px 0 0; right: 0;}
    h2 {
    	color: #3a3a3a;
    	font-weight: bold;
    	/*font-size: 2em;*/
    	text-align: center;
    }
    .datos {
		position: relative;
		display:block;
		text-align: center;
	}
	p {
    	text-align: justify;
    }
    .incompleto {
    	border:2px solid red;
    }
	/*radios*/  
	input[type=radio] {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
	}
	input[type=radio] + label {
	padding-left:20px;
	height:15px; 
	width: 15px;
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;

	}
	input[type=radio]:checked + label {
		background-position: 0 -15px;
		}
	label {
	background-image:url(../imgs/Radio-button-blue.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	/*Resultados e interpretación*/
	#result {
		display: inline-block;
	}
	#interpretacion {
		display:none;
	}
    #int-SILL .fila{
    	border-bottom: 1px solid gray;
    }
    #promedios .fila.prima {
    	background-color: #94adce;
    	color: white;
    }
    #promedios .fila:hover {
    	background-color: #d4d3e2;
    }
    /*Enviar btn*/
    #enviar {
    	position: relative;
    	margin: 0 auto auto 6em;
	  background: #3498db;
	  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	  background-image: -o-linear-gradient(top, #3498db, #2980b9);
	  background-image: linear-gradient(to bottom, #3498db, #2980b9);
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 28px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	}

	#enviar:hover {
	  background: #3cb0fd;
	  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	  text-decoration: none;
	}
<<<<<<< HEAD

	/*Speech bubble*/
	#advertencia {
		display: none;
	  position:absolute;
	  padding:15px;
	  margin:1em 0 3em;
	  color:#000;
	  background:#f3961c; /* default background for browsers without gradient support */
	  /* css3 */
	  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	  background:-moz-linear-gradient(#f9d835, #f3961c);
	  background:-o-linear-gradient(#f9d835, #f3961c);
	  background:linear-gradient(#f9d835, #f3961c);
	  -webkit-border-radius:10px;
	  -moz-border-radius:10px;
	  border-radius:10px;
	}
	#advertencia {
	  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
	  background:-moz-linear-gradient(#f3961c, #f9d835);
	  background:-o-linear-gradient(#f3961c, #f9d835);
	  background:linear-gradient(#f3961c, #f9d835);
	}
	#advertencia:after {
	  content:"";
	  position:absolute;
	  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	  border-style:solid;
	  border-color:#f3961c transparent;
	  /* reduce the damage in FF3.0 */
	  display:block;
	  width:0;
	  top:-15px; /* value = - border-top-width - border-bottom-width */
	  left:10px; /* controls horizontal position */
	  bottom:auto;
	  left:auto;
	  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
	  border-color:#f3961c transparent;
	}
	ul#tabs {
	    list-style-type: none;
	    padding: 0;
	    text-align: center;
	}
	ul#tabs li {
	    display: inline-block;
	    background-color: #abd4e3;
	    border-bottom: solid 5px #3498db;
	    padding: 5px 20px;
	    margin-bottom: 4px;
	    color: #fff;
	    cursor: pointer;
	}
	ul#tabs li:hover {
	    background-color: #3498db;
	}
	ul#tabs li.active {
	    background-color: #3498db;
	}
	#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
	}
	#tab section {
		text-align: left;
	    display: none;
		top: 1.8em;
		left: 0;
		/*height: 12em;*/
		padding: 10px 20px;
		border-radius: 5px;
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	}
	#tab section.active {
	    display: inline-block;
	    border: 2px solid rgba(0,0,0,0.1);
	}
	.tabs .celda {
		float:left;
	}
	#tab .fila:hover {
		/*float:left;*/
		background-color: #d4d3e2;
	}
	#wrapper {
		text-align: center;
	}
	/*Enviar2*/
	[class^="hvr-"] {
    /* display: inline-block; */
    /* vertical-align: middle; */
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
	
=======
>>>>>>> origin/gh-pages
